<!DOCTYPE html>
<html lang="en" ng-app="crypbrokersApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Registration</title>
    <link rel="stylesheet" href="css/datepicker.min.css">
    <link rel="stylesheet" href="css/dropzone.css">
    <link rel="stylesheet" href="css/registration.css">
</head>
<body ng-controller="crypbrokersCntl">

<div class="outer">
    <div class="header">
        <div class="logo">
            <img src="images/cryp_log.png" alt="logo">
        </div>
        <div class="nav_bar">
            <a href="index.html">
                <div class="nav_com">
                    HOME
                </div>
            </a>
            <a href="#" ng-click="logout()">
                <div class="nav_com">
                    Logout
                </div>
            </a>
        </div>

        <div class="ham_icon">
        </div>
        <div style="clear:both"></div>
    </div>




    <div class="sub_head">
        <div class="sub_capt">
            Registration
        </div>
        <div class="sub_path">
            <a href="verify.html"> HOME</a> / REGISTRATION
        </div>
        <div style="clear: both"></div>
    </div>

    <div class="content_navigation">
        <p>Choose Account Type</p>
        <div class="to_nav_tab indiv">
            <img src="images/business-card-of-a-man-with-contact-info.png">
            <div class="nav_desc">Individual</div>
        </div>
        <div class="to_nav_tab">
            <img src="images/office.png">
            <div class="nav_desc">Company</div>
        </div>
    </div>

    <div class="content_wrap">
        <div class="content_nav">
            <div class="blocks">
                <div class="blocks_no green person_blk">
                    1
                </div>
                <div class="blocks_capt">
                    Personal Information
                </div>
            </div>
            <div class="blocks comp_blk_dis">
                <div class="blocks_no comp_blk">
                    2
                </div>
                <div class="blocks_capt">
                    Company Information
                </div>
            </div>
            <div class="blocks">
                <div class="blocks_no req_blk">
                    3
                </div>
                <div class="blocks_capt">
                    Required Documents,<br>
                    Terms and Conditions
                </div>
            </div>
        </div>

        <div class="main_container">
                <div class="personal_wrap wraps_common" id="personal">
                    <h2>
                        Personal Information
                    </h2>
                    <div class="text_box_wrap">
                        <div class="text_box_left txt_bx">
                            <div class="text_desc">First Name</div>
                            <input type="text" ng-model="user.firstName">
                        </div>
                        <div class="text_box_right txt_bx">
                            <div class="text_desc">Last Name</div>
                            <input type="text" ng-model="user.lastName">
                        </div>

                        <div style="clear: both"></div>
                    </div>
                    <div class="text_box_wrap">
                        <div class="text_box_left txt_bx">
                            <div class="text_desc">Gender</div>
                            <div class="radio_outer">
                                <div class="male_out">
                                    <div class="radio" id="1" ng-class="{active: user.gender == 1}">
                                        <div class="checked"></div>
                                    </div>
                                    Male
                                </div>
                                <div class="male_out">
                                    <div class="radio" id="0" ng-class="{active: user.gender == 0}">
                                        <div class="checked"></div>
                                    </div>
                                    Female
                                </div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </div>

                    <div class="text_box_wrap">
                        <div class="text_box_full txt_bx">
                            <div class="text_desc">Address Line 1</div>
                            <input type="text" ng-model="user.address1">
                        </div>
                    </div>
                    <div class="text_box_wrap">
                        <div class="text_box_full txt_bx">
                            <div class="text_desc">Address Line 2</div>
                            <input type="text" ng-model="user.address2">
                        </div>
                    </div>

                    <div class="text_box_wrap">
                        <div class="text_box_left txt_bx">
                            <div class="text_desc">City</div>
                            <input type='text' ng-model="user.city">
                        </div>
                        <div class="text_box_right txt_bx">
                            <div class="text_desc">State/Province/Region</div>
                            <input type='text' ng-model="user.state">
                        </div>

                        <div style="clear: both"></div>
                    </div>

                    <div class="text_box_wrap">
                        <div class="text_box_left txt_bx">
                            <div class="text_desc">Country of Residence</div>
                            <select data-ng-model="user.countryOfResidence" data-ng-options="v.name as v.name for v in countries"></select>
                        </div>
                        <div class="text_box_right txt_bx">
                            <div class="text_desc">Zip / Postal code (without spaces)</div>
                            <input type='text' ng-model="user.zip" onkeypress='return (event.charCode >= 48 && event.charCode <= 57 )||event.charCode == 43 '>
                        </div>

                        <div style="clear: both"></div>
                    </div>

                    <div class="text_box_wrap">
                        <div class="text_box_left txt_bx">
                            <div class="text_desc">Mobile (With Country Code)</div>
                            <input type='text' ng-model="user.mobile" onkeypress='return (event.charCode >= 48 && event.charCode <= 57 )||event.charCode == 43 '>
                        </div>
                        <div class="text_box_right txt_bx">
                            <div class="text_desc">Date Of Birth (MM/DD/YYYY)</div>
                            <input type='text' ng-model="user.dateOfBirth" id="dob" class="datepicker-here" data-language='en'/>
                        </div>

                        <div style="clear: both"></div>
                    </div>

                    <div class="text_box_wrap">
                        <div class="text_box_left txt_bx">
                            <div class="text_desc">ID Type</div>
                            <select data-ng-model="user.idType" data-ng-options="v for v in idType"></select>
                        </div>
                        <div class="text_box_right txt_bx">
                            <div class="text_desc">ID number</div>
                            <input type="text" ng-model="user.idNumber">
                        </div>

                        <div style="clear: both"></div>
                    </div>

                    <div class="text_box_wrap">
                        <div class="text_box_left txt_bx">
                            <div class="text_desc">ID Issue date (MM/DD/YYYY)</div>
                            <input type='text' id="issueDate" ng-model="user.idIssueDate" class="datepicker-here" data-language='en'/>
                        </div>
                        <div class="text_box_right txt_bx">
                            <div class="text_desc">ID Expiry (if any)</div>
                            <input type='text' id="validTo" ng-model="user.idValidTo" class="datepicker-here" data-language='en'/>
                        </div>

                        <div style="clear: both"></div>
                    </div>


                    <div class="bottom_button_wrap">
                        <div class="next_button go_btn personal" ng-click="addUserInformation()" data-id="personal_2">
                            Next
                        </div>
                    </div>

                </div>


                <div class="company_wrap wraps_common" id="personal_2">
                    <h2>
                        Company Information
                    </h2>
                    <div class="text_box_wrap">
                        <div class="text_box_left txt_bx">
                            <div class="text_desc">Company Name</div>
                            <input type="text" ng-model="company.name">
                        </div>
                        <div class="text_box_right txt_bx">
                            <div class="text_desc">Phone</div>
                            <input type="text" ng-model="company.phone" onkeypress='return (event.charCode >= 48 && event.charCode <= 57 )||event.charCode == 43 '>
                        </div>

                        <div style="clear: both"></div>
                    </div>

                    <div class="text_box_wrap">
                        <div class="text_box_left txt_bx">
                            <div class="text_desc">Website URL</div>
                            <input type="text" ng-model="company.url">
                        </div>
                        <div class="text_box_right txt_bx">
                            <div class="text_desc">Nature of business</div>
                            <input type="text" ng-model="company.bussibessNature">
                        </div>

                        <div style="clear: both"></div>
                    </div>


                    <div class="text_box_wrap">
                        <div class="text_box_full txt_bx">
                            <div class="text_desc">Who are your customers? Where are they located?</div>
                            <input type="text" ng-model="company.custmerType">
                        </div>
                    </div>
                    <div class="text_box_wrap">
                        <div class="text_box_full txt_bx">
                            <div class="text_desc">Do you have a KYC policy in place for your customers? If so, please provide a URL to your policy page.</div>
                            <input type="text" ng-model="company.userUrlQ">
                        </div>
                    </div>
                    <div class="text_box_wrap">
                        <div class="text_box_full txt_bx">
                            <div class="text_desc">Do you perform due to dilligence on your customers? what information do you collect from them?</div>
                            <input type="text" ng-model="company.customerInfoQ">
                        </div>
                    </div>


                    <div class="text_box_wrap">
                        <div class="text_box_left txt_bx">
                            <div class="text_desc">Expected Average Order Size (USD)</div>
                            <select ng-model="company.exptAvgOrder">
                                <option value="">--Select--</option>
                                <option>$10,000-$99,000</option>
                                <option>$100,000-$499,000</option>
                                <option>$500,000-$999,000</option>
                                <option>$1 million-$9.9 million</option>
                                <option>$10 million +</option>
                            </select>
                        </div>
                        <div class="text_box_right txt_bx">
                            <div class="text_desc">Nature of activity</div>
                            <select ng-model="company.activityNatureQ">
                                <option value="" >--Select--</option>
                                <option>Buying Digital Assets For Lawful Use</option>
                                <option>Selling Digital Assets For Lawful Use</option>
                                <option>Buying And Selling Digital Assets For Lawful Use</option>
                                <option>Other</option>
                            </select>
                        </div>

                        <div style="clear: both"></div>
                    </div>

                    <div class="text_box_wrap">
                        <div class="text_box_full txt_bx">
                            <div class="text_desc">What bank will you be using for deposits and withdrawals,and where is it located?</div>
                            <input type="text" ng-model="company.bankDetailsQ">
                        </div>
                    </div>

                    <div class="bottom_button_wrap">
                        <div class="prev_button pr_company go_btn" data-id="personal_1">
                            Previous
                        </div>
                        <div class="next_button company go_btn" ng-click="addCompanyInformation()" data-id="personal_3">
                            Next
                        </div>
                    </div>

                </div>


                <div class="documents_wrap wraps_common" id="personal_3">
                    <h2>
                        Required Documents
                    </h2>

                    <div class="docs_list">
                        <div class="doc_blocks">
                        <p>Individual</p>
                        - Gov Issued ID (Passport,Drivers License, Other)<br>
                        - Selfie Picture of You Holding Gov Issued ID<br>
                        - Proof of Home Address( Utility Bill or Bank Statement) issued within the last 3 months containing your name on the account
                        </div>


                        <div class="doc_blocks">
                            <p>Important</p>

                            - Documents must be in the following format : jpg, png, gif, pdf<br>
                            - Documents must be scanned in color <br>
                            - Documents must be clearly visible<br>
                            - Selfie with ID requirements<br>
                        </div>


                        <div class="doc_blocks">
                        <p>Company</p>
                        - Gov Issued ID (Passport,Drivers License,Other)<br>
                        - Selfie Picture of You Holding Gov Issued ID<br>
                        - Proof of hpme address( utility bill or bank statement) issued within the last 3 months containing your name on the account<br>
                        - Company registration document<br>
                        - Proof of Home Address (Utility bill or Bank statement)<br>

                            <span>*</span> Look straight into the camera<br>
                            <span>*</span> The photo should be in color<br>
                            <span>*</span> Your face and card information should be clearly visible<br>
                            <span>*</span> Donot wear a sunglass, a hat or a headband<br>
                            <span>*</span> The photo should be recent<br>
                            <span>*</span> Image should be in high resolution (min 300 dpi)<br>
                        </div>



                        <!--<div class="doc_blocks">-->
                        <!---->
                        <!--</div>-->
                    </div>
                    <div class="image_upload">
                        <input name="file" type="file" multiple id="files" onchange="angular.element(this).scope().imageUpload()" />
                    </div>
                    <p>No of Documents submitted : {{userImage.length}}</p>
                    <!--<form class="dropzone" ng-model="data.images" id="my-awesome-dropzone"></form>-->

                        <form style="display: none" action="http://52.220.41.10/crypbrokers/users/uploadDocuments.php" method="POST"  enctype="multipart/form-data" class="dropzone" id="my-awesome-dropzone">
                            <input type="text" name="usersImage_users_unique_id" value="uniqueId">
                            <div class="fallback">
                                <input name="file" type="file" multiple id="" />
                            </div>

                            <input type="submit" value="Hellow" />
                        </form>
                    <div class="declaration">
                        <input type="checkbox" id="declaration" />
                        <label for="declaration">I do hereby solemnly declare that the information provided is up-to-date and correct. The documents provided as proof of identity and proof of address has been self-attested. I authorize Octagon Strategy to verify the information provided to confirm its accuracy.
                        </label>
                    </div>

                    <div class="bottom_button_wrap">

                        <div class="prev_button pr_doc go_btn" data-id="personal_2">
                            Previous
                        </div>
                        <div class="next_button company go_btn" ng-click="verifyDoc()">
                            Verify
                        </div>
                    </div>

                </div>

        </div>

    </div>

    <footer>
        <div class="to_top">
        </div>
        <div class="copy_right">
            Copyright © Crypto Ventures LLC 2017. All Rights Reserved.
        </div>
        <div class="copy_links">
            <div class="copy_blocks">
                About Us
            </div>
            <div class="copy_blocks">
                Fees
            </div>
            <div class="copy_blocks">
                Terms of use
            </div>
            <div class="copy_blocks">
                Privacy Policy
            </div>
            <div class="copy_blocks">
                Contact Us
            </div>
        </div>
        <div style="clear:both;"></div>
    </footer>

</div>

<script rel="script" src="js/libs/jquery.min.js"></script>
<script rel="script" src="js/libs/angular.min.js"></script>
<script rel="script" src="js/libs/angular-route.min.js"></script>
<script rel="script" src="js/libs/datepicker.min.js"></script>
<script rel="script" src="js/libs/datepicker.en.js"></script>
<script rel="script" src="js/libs/dropzone.js"></script>
<script rel="script" src="js/toast/toast.js"></script>
<script rel="script" src="js/config.js"></script>
<script rel="script" src="js/registration.js"></script>
<script rel="script" src="js/maincontroller.js"></script>


<script>
    $('.datepicker-here').datepicker
    ({
        language: 'en',dateFormat: 'yyyy-mm-dd'
    });

</script>
</body>
</html>