<!DOCTYPE html>
<html lang="en" ng-app="smartkycApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Verification</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" href="css/registration.css">
</head>
<body ng-controller="verifyCntl">

<div class="outer" >
    <div class="header">
        <div class="logo">
            <a href="#" >SmartKYC</a>
        </div>

        <div class="nav_bar">
            <a href="http://www.SmartKYC.com/">
                <div class="nav_com">
                    HOME
                </div>
            </a>
            <a href="http://www.SmartKYC/place-an-order/">
                <div class="nav_com">
                    PLACE AN ORDER
                </div>
            </a>
            <a href="http://www.SmartKYC.com/contact-us/">
                <div class="nav_com">
                    CONTACT US
                </div>
            </a>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div class="mob_nav_bar">
        <a href="http://www.SmartKYC.com/">
            <div class="nav_com">
                HOME
            </div>
        </a>
        <a href="http://www.SmartKYC.com/place-an-order/">
            <div class="nav_com">
                PLACE AN ORDER
            </div>
        </a>
        <a href="http://www.SmartKYC.com/contact-us/">
            <div class="nav_com">
                CONTACT US
            </div>
        </a>
    </div>


    <div class="sub_head">
        <div class="sub_capt">
            Reset Password
        </div>
        <div class="sub_path">
            <!--HOME / PROFILE-->
        </div>
        <div style="clear: both"></div>
    </div>


    <div class="tab_content_wrap">

        <div class="tab_content active" id="password">
            <div class="reset_pass_wrap">
                <div class="text_box_full txt_bx">
                    <div class="text_desc">Password</div>
                    <input type="password" ng-model="passDeatils.password">
                </div>
                <div class="text_box_full txt_bx">
                    <div class="text_desc">Re-Type Password</div>
                    <input type="password" ng-model="passDeatils.reenterpassword">
                </div>
                <div class="log_wrap">
                    <div class="login_btn" ng-click="resetPassword()" >
                        Reset
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <!--<div class="to_top">-->
        <!--</div>-->
        <div class="copy_right">
            Copyright © 2017 SmartKYC.com. All Rights Reserved.
        </div>
        <div class="copy_links" style="display: none;">
            <div class="copy_blocks">
                About Us
            </div>
            <div class="copy_blocks">
                Fees
            </div>
            <div class="copy_blocks">
                Terms of use
            </div>
            <div class="copy_blocks">
                Privacy Policy
            </div>
            <div class="copy_blocks">
                Contact Us
            </div>
        </div>
        <div style="clear:both;"></div>
    </footer>

</div>
<style>
    .reset_pass_wrap{
        width: 400px;
        margin: 80px auto 80px;
        border: 1px solid #ddd;
        box-shadow: 0px 0px 10px 1px #ddd;
        padding: 30px;
    }
    .text_box_full{
        margin: 10px 0;
    }
</style>

<script rel="script" src="js/libs/jquery.min.js"></script>
<script rel="script" src="js/libs/angular.min.js"></script>
<script rel="script" src="js/libs/angular-route.min.js"></script>
<script rel="script" src="js/libs/datepicker.min.js"></script>
<script rel="script" src="js/libs/datepicker.en.js"></script>
<script rel="script" src="js/libs/dropzone.js"></script>
<script rel="script" src="js/toast/toast.js"></script>
<script rel="script" src="js/config.js"></script>
<script rel="script" src="js/registration.js"></script>
<script rel="script" src="js/maincontroller.js"></script>
<script rel="script" src="js/resetPassCtrl.js"></script>


<script>
    $('.datepicker-here').datepicker
    ({
        language: 'en',dateFormat: 'yyyy-mm-dd'
    });

</script>
</body>
</html>