<!DOCTYPE html>
<html lang="en" ng-app="crypbrokersApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Verification</title>
    <link rel="stylesheet" href="css/registration.css">
</head>
<body ng-controller="crypbrokersCntl">

<div class="outer" ng-controller="verifyCntl">
    <div class="header">
        <div class="logo">
            <img src="images/cryp_log.png" alt="logo">
        </div>

        <div class="nav_bar">
            <a href="http://www.crypbrokers.com/">
                <div class="nav_com">
                    HOME
                </div>
            </a>
            <a href="http://www.crypbrokers.com/place-an-order/">
                <div class="nav_com">
                    PLACE AN ORDER
                </div>
            </a>
            <a href="http://www.crypbrokers.com/contact-us/">
                <div class="nav_com">
                    CONTACT US
                </div>
            </a>
            <a href="index.html">
                <div class="nav_com">
                    LOGOUT
                </div>
            </a>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div class="mob_nav_bar">
        <a href="http://www.crypbrokers.com/">
            <div class="nav_com">
                HOME
            </div>
        </a>
        <a href="http://www.crypbrokers.com/place-an-order/">
            <div class="nav_com">
                PLACE AN ORDER
            </div>
        </a>
        <a href="http://www.crypbrokers.com/contact-us/">
            <div class="nav_com">
                CONTACT US
            </div>
        </a>
    </div>


    <div class="sub_head">
        <div class="sub_capt">
            Personal Information
        </div>
        <div class="sub_path">
            HOME / PROFILE
        </div>
        <div style="clear: both"></div>
    </div>



    <div class="content_wrap_ver">

        <div class="personal_wrap wraps_common" style="display: none" id="personal">
            <h2>

            </h2>
            <div class="text_box_wrap">
                <div class="text_box_left txt_bx">
                    <div class="text_desc">Name</div>
                    <div class="name_disp">{{details.userRegistration_username}}</div>
                </div>
                <div class="text_box_right txt_bx">
                    <div class="text_desc">Gender</div>
                    <div class="name_disp">{{details.gender}}</div>
                </div>
                <div style="clear: both"></div>
            </div>


            <div class="text_box_wrap">
                <div class="text_box_full txt_bx">
                    <div class="text_desc">Address</div>
                    {{details.users_address1}}<br>
                    {{details.users_address2}}<br>
                    {{details.users_address3}}<br>
                </div>
            </div>


            <div class="text_box_wrap">
                <div class="text_box_left txt_bx">
                    <div class="text_desc">City</div>
                    {{details.users_city}}
                </div>
                <div class="text_box_right txt_bx">
                    <div class="text_desc">State/Province/Region</div>
                    {{details.users_state}}
                </div>

                <div style="clear: both"></div>
            </div>



            <div class="text_box_wrap">
                <div class="text_box_left txt_bx">
                    <div class="text_desc">Mobile (With Country Code)</div>
                    {{details.users_mobile_number}}
                </div>
                <div class="text_box_right txt_bx">
                    <div class="text_desc">Date Of Birth (mm/dd/yyyy)</div>
                    {{details.users_date_of_birth}}
                </div>

                <div style="clear: both"></div>
            </div>





        </div>

        <div class="tab_wrap">
            <ul>
                <li data-id="#general">
                    <img src="images/home.png" />
                    <span>GENERAL</span>
                </li>
                <li class="active" data-id="#verify">
                    <img src="images/verified-list-of-exercises-of-a-gymnast-on-a-clipboard.png" />
                    <span>VERIFY</span>
                </li>
                <li data-id="#password">
                    <img src="images/lock.png" />
                    <span>PASSWORD</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab_content_wrap">
        <div class="tab_content" id="general">
            <div class="flow_wrap">
                <div class="flow">
                    <div class="icon" style="background-image: url('images/started.png')"></div>
                    <p>Complete KYC Process</p>
                    <a href="registration.html" class="started_btn">Get started</a>
                </div>
                <div class="flow">
                    <div class="icon" style="background-image: url('images/verified.png')"></div>
                    <p>Get Verified</p>
                </div>
                <div class="flow">
                    <div class="icon" style="background-image: url('images/place.png')"></div>
                    <p>Place your order</p>
                </div>
            </div>
        </div>
        <div class="tab_content active" id="verify">
            <div class="verification_wrap" ng-if="user.users_verify_status == 0">
                <div class="">You account is not yet verified</div>
            </div>
            <div class="verification_wrap" ng-if="user.users_verify_status == 1">
                <div class="">You account is verified</div>
            </div>
            <div class="verif_button_wrap">
                <a href="registration.html">
                    <div class="ver_but">Edit information</div>
                </a>
            </div>
        </div>
        <div class="tab_content" id="password">
            <div class="reset_pass_wrap">
                <h2>Reset Password</h2>
                <div class="text_box_full txt_bx">
                    <div class="text_desc">Old Password</div>
                    <input type="password" ng-model="passDeatils.oldpass">
                </div>
                <div class="text_box_full txt_bx">
                    <div class="text_desc">Password</div>
                    <input type="password" ng-model="passDeatils.password">
                </div>
                <div class="text_box_full txt_bx">
                    <div class="text_desc">Re-Type Password</div>
                    <input type="password" ng-model="passDeatils.reenterpassword">
                </div>
                <div class="log_wrap">
                    <div class="login_btn" ng-click="resetPassword()">
                        Reset
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <div class="to_top">
        </div>
        <div class="copy_right">
            Copyright © Octragon Strategy Limited 2017
        </div>
        <div class="copy_links">
            <div class="copy_blocks">
                About Us
            </div>
            <div class="copy_blocks">
                Fees
            </div>
            <div class="copy_blocks">
                Terms of use
            </div>
            <div class="copy_blocks">
                Privacy Policy
            </div>
            <div class="copy_blocks">
                Contact Us
            </div>
        </div>
        <div style="clear:both;"></div>
    </footer>

</div>

<script rel="script" src="js/libs/jquery.min.js"></script>
<script rel="script" src="js/libs/angular.min.js"></script>
<script rel="script" src="js/libs/angular-route.min.js"></script>
<script rel="script" src="js/libs/datepicker.min.js"></script>
<script rel="script" src="js/libs/datepicker.en.js"></script>
<script rel="script" src="js/libs/dropzone.js"></script>
<script rel="script" src="js/toast/toast.js"></script>
<script rel="script" src="js/config.js"></script>
<script rel="script" src="js/registration.js"></script>
<script rel="script" src="js/maincontroller.js"></script>
<script rel="script" src="js/verifycontroller.js"></script>


<script>
    $('.datepicker-here').datepicker
    ({
        language: 'en',dateFormat: 'yyyy-mm-dd'
    });

</script>
</body>
</html>