<!DOCTYPE html>
<html lang="en" ng-app="smartkycApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Verification</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" href="css/admin.css">
</head>
<body ng-controller="resetCtrl">
<div class="outer">
    <div class="header">
        <div class="logo">
            <a href="#" >SmartKYC</a>
        </div>

        <div class="nav_bar">
            <a href="user_list.html">
                <div class="nav_com ">
                    Home
                </div>
            </a>
            <a href="reset_password.html">
                <div class="nav_com active">
                    Password
                </div>
            </a>
            <a href="#" ng-click="logout()">
                <div class="nav_com">
                    Logout
                </div>
            </a>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div class="mob_nav_bar">
        <a href="user_list.html">
            <div class="nav_com ">
                Home
            </div>
        </a>
        <a href="reset_password.html">
            <div class="nav_com active">
                Password
            </div>
        </a>
        <a href="#" ng-click="logout()">
            <div class="nav_com">
                Logout
            </div>
        </a>
    </div>


    <div class="sub_head">
        <div class="sub_capt">
            Password
        </div>
        <div class="sub_path">

        </div>
        <div style="clear: both"></div>
    </div>

    <div class="tab_content_wrap">
        <div class="tab_content" id="password">
            <div class="reset_pass_wrap">
                <h2>Reset Password</h2>
                <div class="text_box_full txt_bx">
                    <div class="text_desc">Current Password</div>
                    <input type="password" ng-model="passDeatils.oldpass">
                </div>
                <div class="text_box_full txt_bx">
                    <div class="text_desc">New Password</div>
                    <input type="password" ng-model="passDeatils.password">
                </div>
                <div class="text_box_full txt_bx">
                    <div class="text_desc">Re-Type New Password</div>
                    <input type="password" ng-model="passDeatils.reenterpassword">
                </div>
                <div class="log_wrap">
                    <div class="login_btn" ng-click="resetPassword()">
                        Reset
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>

<script rel="script" src="../js/libs/jquery.min.js"></script>
<script rel="script" src="../js/libs/angular.min.js"></script>
<script rel="script" src="../js/libs/angular-route.min.js"></script>
<script rel="script" src="../js/toast/toast.js"></script>
<script rel="script" src="../js/config.js"></script>
<script rel="script" src="../js/adminResetPassCtrl.js"></script>

</body>
</html>