
html,body
{
    margin: 0;
    padding: 0;
    font-family: Montserrat-Regular;
    height: 100%;
}
img
{
    width: 100%;
}
input,textarea,select
{
    outline: none;
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(../../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(../../fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(../../fonts/Montserrat-Medium.otf);
}

/*loader css start*/
.loader_container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    z-index: 100;
}
.cryp_loader {
    left: 43%;
    top: 43%;
    position: absolute;
}
.loader_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    transform: rotate(180deg);
    animation: rollout 2s infinite;
}
.loader_img_inner {
    position: absolute;
    left: 23px;
    top: 23px;
    width: 35px;
    transform: rotate(180deg);
    animation: rollIn 1.7s infinite;
}
@-webkit-keyframes rollout {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
@-moz-keyframes  rollout {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
@-o-keyframes rollout {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
@keyframes rollout {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes rollIn {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0); }
}
@-moz-keyframes  rollIn {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0); }
}
@-o-keyframes rollIn {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0); }
}
@keyframes rollIn {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0); }
}
/*loader css end*/
.login_bg{
    /*background-image: url(../../images/cryp_btm.png);*/
    /*background-size: 100%;*/
    /*background-position: bottom;*/
    /*background-repeat: no-repeat;*/
}
.block {
    display: block !important;
}
.none {
    display: none !important;
}
.outer
{
    min-height: 100%;
    position: relative;
}
.index_out
{
    background-image: url(../../images/cryp_btm.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: auto;
}
.header
{
    position: relative;
    font-size: 38px;
    padding: 20px 20px;
}
.logo
{
    display: inline-block;
    width: 235px;
    padding: 0 15px;
}
.logo a{
    color: #f1a12f;
}
.nav_bar
{
    position: absolute;
    right: 25px;
    top: 40px;
    font-family: Montserrat-Light;
    font-size: 15px;
}
.nav_bar a
{
   color: #1b274a;
}
.nav_com
{
    padding: 3px 15px;
    display: inline-block;
    vertical-align: middle;
}
.nav_com:hover, .nav_com.active
{
    color: #f1a12f;
    border-bottom:2px solid #f1a12f;
}
.sub_head
{
    background-color: #f2f2f3;
    padding: 2% 3%;
}
.nav_back {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.nav_back:hover .nav_back_img{
    -webkit-transform: scale(1.2);
    -moz-transform:    scale(1.2);
    -ms-transform:     scale(1.2);
    -o-transform:      scale(1.2);
    transform:         scale(1.2);
}
.nav_back_img {
    width: 20px;
    padding: 0 1%;
}
.content_nav
{
    /*text-align: center;*/
    margin-top: 0px !important;
    margin-bottom: 50px;
}
.sub_capt
{
    font-size: 26px;
    font-family: Montserrat-Regular;
    font-weight: bold;
    display: inline-block;
    color: #1b274a;
}
.sub_path
{
    font-size: 14px;
    display: inline-block;
    float: right;
    vertical-align: -webkit-baseline-middle;
    font-family: Montserrat-Light;
    padding-top: 8px;
}
.blocks
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 12px;
}
.blocks:hover, .blocks.active
{
    border-bottom: 2px solid #f1a12f;
    font-weight: bold;
    font-size: 14px;
}
.blocks_no
{
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #d4d0d0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 36px;
    color: #d4d0d0;
    background-color: white;
}
.green
{
    border: 2px solid #3fd845;
    color: #3fd845;
}
.person_blk.green_bg
{
    border: 2px solid #3fd845;
    background-color: #3fd845;
}
.blocks_capt
{
    font-family: Montserrat-Light;
    font-size: 15px;
}
.person_blk:after
{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #d4d0d0;
    top: 18px;
    z-index: -1;
}
.comp_blk:after
{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #d4d0d0;
    top: 18px;
    z-index: -1;
}
.person_blk.green_bg:after
{
    background-color: #3fd845;
}
.comp_blk.green_bg
{
    background-color: #3fd845;
}
.content_wrap h2
{
    font-size: 26px;
    position: relative;
    color: #1b274a;
    margin-top: 35px;
    margin-bottom: 75px;
}
.content_wrap h2:after
{
    border-bottom: 2px solid;
    border-color: #dd9933;
    bottom: -25px;
    content: "";
    left: 0;
    position: absolute;
    width: 70px;
}
.content_wrap_ver
{
    padding: 2% 7%;
}
.content_wrap
{
    padding: 5% 7%;
    display: block;
}
.content_wrap_log
{
    width: 35%;
    margin: 5% auto;
}
.content_wrap_ad
{
    /*width: ;*/
    margin: 50px 7%;
}
.content_wrap_ad table
{
    width: 100%;
    box-shadow: 0px 0px 5px 1px #ddd;
    border: 1px solid #666;
}

.ad_tab thead
{
    text-align: left;
    /*background-color: #f2f2f3;*/
    border-bottom: 1px solid #666;
}

.ad_tab thead tr th
{
    padding: 15px 10px;
    color: #464444;
    border-right: 1px solid #666;
}
.user_item{
    cursor: pointer;
}
.user_item:hover{
    background: #f2f2f2;
}
.under_row{
    border-bottom: 1px solid #666;
}
tr{
    border-bottom: 1px solid #ddd;
}
tr:last-child{
    border-bottom: none;
}
td, th {
    /*border: 1px solid #cccccc;*/
    text-align: left;
    padding: 15px 10px;
    font-size: 13px;
}
td{
    color: #464444;
    border-right: 1px solid #666;
}
td:last-child{
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.content_wrap_ad table {
    border-collapse: collapse;
    width: 100%;

}
.login_btn
{
    display: inline-block;
    background-color: #f1a12f;
    color: white;
    padding: 10px 40px;
    text-align: center;
    border-radius: 20px;
    font-family: Montserrat-Light;
    cursor: pointer;
}
.login_btn:hover
{
    background-color:  #1e2434;
}
.login_block{
    padding: 30px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px 1px #ddd;
    display: none;
    background-color: white;
}
.login_block.active{
    display: block;
}
#personal, #personal_2, #personal_3 {
    background-color: #f9f9f9;
    font-size: 13px;
    text-transform: capitalize;
    font-family: Montserrat-Regular;
    color: #464444;
}
.login_block .text_box_wrap .text_box_full
{
    margin-bottom: 20px;
    border-bottom: none;
    display: block;
}
.login_block .text_desc{
    width: auto;
    border: none;
}
.log_wrap
{
    text-align: center;
    margin-top: 10px;
}
.content_navigation
{
    width: 100%;
    min-height: 30%;
    padding: 10% 0%;
    background-color: white;
    text-align: center;
    display: none;
}
.content_navigation p
{
    font-family: Montserrat-Light;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.to_nav_tab
{
    width: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 50px;
    cursor: pointer;
    position: relative;
}
/*.to_nav_tab:nth-child(1):after*/
/*{*/
    /*height: 100px;*/
    /*width: 1px;*/
    /*background-color: black;*/
    /*content: '';*/
    /*position: absolute;*/
    /*right: 0;*/
/*}*/

.text_box_left
{
    border-bottom: 1px solid #666;
    display: flex;
}
.text_box_full
{
    vertical-align: top;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #666;
}
.text_box_right
{
    border-bottom: 1px solid #666;
    display: flex;
}
.txt_bx input,select
{
    height: 30px;
    width: 94%;
    border: 1px solid #f1a12f;
    border-radius: 20px;
    padding: 1% 3%;
}
.txt_bx select
{
    height: 42px;
    width: 100%;
}

.text_box_full input,select
{
    border-radius: 30px;
}
.text_desc {
    width: 50%;
    padding: 10px;
    border-right: 1px solid #666;
}
.det_vw{
    width: 50%;
    padding: 10px;
    margin: 0;
}
.text_box_wrap
{
    /*margin-bottom: 20px;*/
}
.radio_outer{
    width: 50%;
    padding: 10px;
}
.radio
{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-radius: 50%;
    vertical-align: bottom;
}
.male_out
{
    display: inline-block;
    /*font-size: 15px;*/
    margin-right: 10px;
    /*font-family: Montserrat-Light;*/

}
.next_button
{
    display: inline-block;
    background-color: #f1a12f;
    color: white;
    padding: 10px 40px;
    text-align: center;
    border-radius: 20px;
    font-family: Montserrat-Light;
    cursor: pointer;
}
.next_button:hover
{
    background-color:  #1e2434;
}
.prev_button {
    display: inline-block;
    background-color: #888;
    color: white;
    padding: 10px 40px;
    text-align: center;
    border-radius: 20px;
    font-family: Montserrat-Light;
    cursor: pointer;
}
.prev_button:hover
{
    background-color:  #777;
}
.bottom_button_wrap
{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: right;
}
/*.personal_wrap*/
/*{*/
    /*display: none;*/
/*}*/
/*.company_wrap*/
/*{*/
    /*display: none;*/
/*}*/
/*.documents_wrap*/
/*{*/
    /*display: none;*/
/*}*/
.docs_list
{
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 23px;
}
.doc_item{
    display: flex;
    border-bottom: 1px solid #666;
}
.doc_item a {
    color: #1e2331;
}
.doc_item div{
    width: 50%;
    padding: 10px;
}
.doc_item div:first-child{
    border-right: 1px solid #666;
}
.doc_item div:last-child{
    text-align: center;
}
.upload_wrap
{
    width: 100%;
    height: 190px;
    border: 1px solid #d9d9d9;
    margin-top: 35px;
    margin-bottom: 10px;
    position: relative;
}
.dropzone
{
     margin-top: 45px;
     margin-bottom: 45px;
}
.checked
{
    width: 11px;
    height: 11px;
    background-color: #f1a12f;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 2px;
    display: none;
}
.active .checked
{
    display: block;
}
.copy_right
{
    display: inline-block;
    font-family: Montserrat-Light;
    font-size: 13px;
}
.copy_blocks
{
    display: inline-block;
    padding: 0px 10px;
    font-family: Montserrat-Light;
    font-size: 13px;
    position: relative;
}
.copy_blocks:after
{
    position: absolute;
    content: '';
    height: 11px;
    width: 1px;
    top: 3px;
    background-color: #a7a9aa;
    right: 0;
}
.copy_links
{
    display: inline-block;
    float: right;
}
.docs_list span
{
    color: red;
}
footer
{
    background-color: #f2f2f3;
    /*padding: 2% 7%;*/
    /*position: relative;*/

    position: absolute;
    padding: 2% 0;
    bottom: 0;
    width: 100%;
}
.copy_right {
    margin-left: 7%;
}
.to_top
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1a12f;
    position: fixed;
    right: 62px;
    bottom: 41px;
    cursor: pointer;
    background-image: url(../images/up-arrow.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 12px 12px;
    z-index: 22;
}
a
{
    text-decoration: none;
}
.mob_nav_bar
{
    display: none;
}

.content_wrap_ver .personal_wrap .text_desc
{
    color: #a7a7a7;
}
.ver_but
{
    display: inline-block;
    background-color: #f1a12f;
    color: white;
    padding: 10px 40px;
    text-align: center;
    border-radius: 20px;
    font-family: Montserrat-Light;
    cursor: pointer;
}
.ver_but:hover
{
    background-color:  #1e2434;
}
.verif_button_wrap
{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.user_list
{
    text-align: center;
}
.us_name
{
    font-size: 15px;
}
.us_name span{
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.sub_accpt
{
    float: right;
}
.acpt_dcl
{
    display: inline-block;
    background-color: #f1a12f;
    color: white;
    padding: 5px 24px;
    text-align: center;
    border-radius: 20px;
    font-family: Montserrat-Light;
    cursor: pointer;
    font-size: 12px;
}
.dcl
{
    background-color: #888;
}
.reset_pass_wrap {
    width: 400px;
    margin: 20px auto 80px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px 1px #ddd;
    padding: 30px;
}
.reset_pass_wrap .text_box_full{
    border: none;
    display: block;
}
.reset_pass_wrap .text_desc {
    width: auto;
    padding: 10px;
    border-right: none;
}
.log_logo {
    display: inline-block;
    width: 170px;
    padding: 0 15px;
}
.log_logo a{
    color: #f1a12f;
}
.sub_head_log {
    background-color: #f2f2f3;
    padding: 8px 7%;
}
.sub_head_log .sub_capt {
    font-size: 18px;
}
.view_btn
{
    display: inline-block;
    background-color: #f1a12f;
    color: white !important;
    padding: 5px 15px;
    text-align: center;
    border-radius: 20px;
    font-family: Montserrat-Light;
    cursor: pointer;
    font-size: 11px;
}
.view_btn:hover
{
    background-color:  #1e2434;
}
.reset_pass_wrap .text_box_full {
    border: none;
    display: block;
}
.reset_pass_wrap .text_desc {
    border-right: 0;
}
.no-padding{
    padding-top: 0;
    padding-bottom: 0;
}